/* añadir propiedades y valores en las siguientes reglas */
html {
    font-family : sans-serif;
}

header {
    font-size: 2em;
    text-align: center;
    color: white;
    font-weight: bold; 
}

footer {
    text-align: right;
    color: white;
    font-style: italic;
}

*{
    box-sizing: border-box;
}

#persa, #siames, #test{
    min-height: calc(100vh - 30vh);
}

#foto{
    display: flex;
    background-image: url("./imagenes/Gato.JPG");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-size: 2em;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
}


#foto{
    height: 70vh;
}

#navegacio{
    background: wheat;
    display: flex;
    flex-direction: column;
}

#siames, #persa{
    padding-left:3vw;
}

#razas{
    font-weight: bold;
}

#test{
    flex: 1;
    text-align: center;
}

form{
    display: block;
    background: wheat;
    border-radius: 10px;
    margin-left: 30%;  
    margin-right: 30%;
    padding: 5px; 
}

#boto{
    border-radius: 10px;
    background: rgb(103, 166, 9);
    border-color: transparent;
}

#formulari_boto{
    display: block;
    background: rgb(237, 199, 110);
    margin:auto;
    border-radius: 10px;
    padding: 10px;
}

header, footer{
    background: rgb(237, 199, 110);
    height: 15vh;
    margin-left:-12px;
    margin-right: -12px;
}

.grid-taula-final{
    display: grid;
    grid-template-columns: auto auto auto;
    padding-left:20%;
    padding-right:20%;

}

.grid-item{
    text-align:left;
    padding:0px;
    border-top: 1px solid;
    border-left: 1px solid;
    border-right: 1px solid;
    border-bottom: 1px solid;
    padding-left: 5px;
}

.grid-item1{
    text-align:left;
    background: wheat;
    border-top: 1px solid;
    border-left: 1px solid;
    border-right: 1px solid;
    border-bottom: 1px solid;
    padding-left: 5px;
}

.grid-item2{
    font-weight: bold;
    text-align:left;
    border-top: 1px solid;
    border-left: 1px solid;
    border-right: 1px solid;
    border-bottom: 1px solid;
    padding-left: 5px;
}


